

.set-title h1{
  font-size: 40px;
  font-weight: 400;
  color: #03c0a7;
  text-align: center;
}
 
.data{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #20dac2;
  color: white;
  margin-top: 30px;
  margin: 40px;
}
  
.employe-info{
  background-color: #20dac2;
  width: 200px;
  height: 60vh;
}

.search-bar{
  text-align: center;
}
  /*add employee start*/

  .add-title h1{
    margin-top: 70px;
    text-align: center;
 }
 form{
   margin-top: 30px;
   color:#2AD5AF ;
 }

 .addform1 button{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   margin-top: 70px;
   width: 10%;
   height: 50px;
   font-size: 18px;
   border: transparent;
   border-radius: 10px;
   color: white;
   background-color: #2AD5AF;
   cursor: pointer;
   margin-left: 600px;
 }

 .employee-entry{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }

 .employee-entry1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



 .employee-entry input, .employee-entry1 input{
   
   width: 60%;
   border: 1px solid #2AD5AF;
   height: 20px;
   border-radius: 18px;
   padding: 10px;
 }

 .employee-entry label, .employee-entry1 label{
  padding: 5px;
 }
 /*add employee ends*/

 /*Edit button starts*/

 .employe-info1 button{
color: white;
border: transparent;
padding: 10px;
width: 60px;
border-radius: 10px;
margin: 5px;
cursor: pointer;
 }

 #delete-button{
  background-color:#dc143c ;
 }

 #edit-button{
  background-color:#3b3d3d ;
 }

 .main-popup{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #01bfa6;
  color: #68c8bc;
  width: 600px;
  height: 80vh;
  margin-top: -500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px; 
  position: relative;
}

 .pop-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
 }

 .pop-input input{
  width: 250px; 
  margin: 10px;
  border: 1px solid #2AD5AF;

  border-radius: 20px;
  padding: 12px;
}

#Cancel-button{
  background-color:#d81350 ;
}

.pop-button button{

  align-content: center;
  margin-top: 70px;
  width: 150px;
  height: 50px;
  margin: 30px 20px;
  font-size: 18px;
  border: transparent;
  border-radius: 10px;
  color: white;
  background-color: #2AD5AF;
  cursor: pointer;

}
#close-icon1{
   color: #8adad0;
    font-size: 25px;
    font-weight: bolder;

    position: absolute;
    right: 20px;

}
/*Edit button ends*/